html body{
  min-height: 100vh;
}

body{
  background: rgb(18, 25, 38);
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  color: rgba(253,242,221,255) !important;
}

.my-navbar{
  background: rgb(18, 25, 38);
  height: 8.5vh;
}

.my-navbar .nav-link,
.my-navbar .navbar-brand {
  color: rgba(253,242,221,255) !important;
}

.nav-link.active{
  color: rgba(196,34,105,255) !important;
}

.navbar-nav{
  margin-left: auto;
  padding-right: 10px;
  gap: 35px;
}

@media (max-width: 991px) { /* Bootstrap default breakpoint for large screens */
  .navbar-nav {
    gap: 0; /* Remove the gap on mobile view */
  }
  .navbar-nav .nav-link{
    color: rgba(253,242,221,255) !important;
  }
  .navbar-collapse{
    background-color: rgb(23, 23, 23);
    margin-top: 15px;
  }
}

.nav-item{
  font-size: 1.2rem;
}

.nav-item .nav-link:hover{
  color: gray !important;
  transition: color 0.2s ease;
  text-decoration: none;
}

.nav-link.active:hover{
  color: rgba(196,34,105,255) !important
}

.my-navbar .navbar-brand{
  padding-left: 10px;
}

h1, h2{
  color: #f5bc34 !important;
}

h5{
  color: rgba(196,34,105,255) !important
}

.footer { 
  margin-top: auto;
  background-color: rgb(8, 13, 17);
}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 75px;
  color: rgba(253,242,221,255) !important;
}

.homepage-container, .skills-details-container, .project-showcase-container{
  margin-bottom: 10vh;
}

.footer-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 991px) {
  .homepage-container, .skills-details-container, .project-showcase-container{
    margin-bottom: 5vh;
  }
}